/* Variables css*/
:root {
    /* Colors */
    /* Color mode HSL(hue, saturation, lightness)*/
    /*
        blue    :   hsl(224, 69%, 14%)
        red     :   hsl(0, 100%, 43%)
        gray    :   hsl(0, 0%, 98%)
        green   :   hsl(100, 83%, 41%)
        yellow  :   HSL(52, 100%, 50%)
    */

    --hue: 100;
    --sat: 100%;
    --lig: 0%;

    --first-color: hsl(var(--hue), var(--sat), var(--lig));
    --first-color-dark: hsl(var(--hue), 80%, 20%);
    --second-color: hsl(193, 100%, 47%);
    --gray-color: hsl(206, 41%, 97%);
    --title-color: hsl(var(--hue), var(--sat), var(--lig));
    --text-color: hsl(var(--hue), 15%, 45%);
    --text-color-light: hsl(var(--hue), 8%, 75%);
    --text-color-lighten: hsl(var(--hue), 8%, 92%);
    --body-color: hsl(var(--hue), 100%, 99%);
    --facebook: hsl(220, 46%, 50%);
    --instagram: radial-gradient(100% 100% at 0% 100%, #FC5245 0%, #B331B9 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    ;
    --pix: hsl(174, 55%, 50%);
    --pinterest: hsl(0, 100%, 43%);
    --whatsapp: hsl(171, 55%, 65%);
    --web: hsl(52, 100%, 50%);
    --dourado: hsl(42, 80%, 54%);
    --nubank: hsla(279, 91%, 43%, 1);
    --attention-color-orange: hsl(22, 100%, 50%);
    --attention-color-red: hsl(0, 100%, 43%);
    --attention-color-green: hsl(120, 60%, 48%);
    --attention-color-yellow: hsl(52, 100%, 50%);

    /* Font and typography */
    /* .5rem = 8px / 1rem = 16px */
    --body-font: 'system-ui', sans-serif;
    --header: 5.8rem;
    --title: clamp(3rem, 3.8vw, 4.2rem);
    --subtitle: clamp(2rem, 2.4vw, 2.8rem);
    --subtitle-h4: clamp(1.8rem, 2.2vw, 2.4rem);
    --body-text: clamp(1.6rem, 1.8vw, 1.8rem);
    --details: clamp(1.4rem, 1.6vw, 1.8rem);
    --smallest: clamp(1rem, 1.2vw, 1.4rem);

}

html {
    width: 100%;
    max-width: 36rem;
    margin: auto;
    scroll-behavior: smooth;
    direction: ltr;
}

h1 {
    font-size: var(--header);
    font-weight: 700;
    text-align: center;
}

h2 {
    font-size: var(--title);
    font-weight: 700;
}

h3 {
    font-size: var(--subtitle);
    font-weight: 600;
}

p {
    font-size: var(--body-text);
    font-weight: 400;
}

li {
    font-size: var(--body-text);
    font-weight: 500;
}

a {
    font-size: var(--body-text);
    font-weight: 500;
}

img {
    object-fit: contain;
}

span, strong, b {
    display: block;
    font-size: inherit;
}
