button {
    margin: auto;
    display: flex;
    width: 100%;
    max-width: 25.6rem;
    padding: 1.6rem 4rem;
    color: var(--first-color);
    border-radius: 0.8rem;
    font-size: var(--body-text);
    font-weight: 500;
    text-align: center;
    text-transform: normal;
    background-color: var(--gray-color);
    outline: none;
    border: none;
    cursor: pointer;
    transition: background-color .4s ease;
    transition: box-shadow .4s ease;
}

button:hover {
    box-shadow: 0px 1.25rem 16px -11px hsla(100, 100%, 10%, .4);
}
button:disabled {
    background-color: #E4E4E4;
    color: #8A8A8A;
    box-shadow: none;
    pointer-events: none;
}

section {
    position: relative;
    margin: auto;
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 6rem;
}

.container {
    display: grid;
    width: min(100% - 10%, 320px);
    margin-inline: auto;
    gap: 2.4rem;
}

header.profile{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    place-items: center;
    padding-top: 3.2rem;
}
header.profile img{
    background-color: transparent;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    border: 5px solid #ffffff;
    box-shadow: 0px 1.25rem 26px -11px hsla(100, 100%, 10%, .3);
}
header.profile h2{
    margin-top: 3.2rem;
}

section.s-links .content-links{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    justify-items: center;
    padding-bottom: 3.2rem;
    row-gap: 2.4rem;
    margin: auto;
}

section.s-links .link-item .ico-facebook::before{
    content: url(../assets/facebook.svg);
    display: block;
    width: 2.4rem;
    aspect-ratio: 1 / 1;
    margin-right: .86rem;
}
section.s-links .link-item .ico-instagram::before{
    content: url(../assets/instagram.svg);
    display: block;
    width: 2.4rem;
    aspect-ratio: 1 / 1;
    margin-right: .86rem;
}
section.s-links .link-item .ico-pinterest::before{
    content: url(../assets/pinterest.svg);
    display: block;
    width: 2.4rem;
    aspect-ratio: 1 / 1;
    margin-right: .86rem;
}
section.s-links .link-item .ico-whatsapp::before{
    content: url(../assets/whatsapp.svg);
    display: block;
    width: 2.4rem;
    aspect-ratio: 1 / 1;
    margin-right: .86rem;
}
section.s-links .link-item .ico-pix::before{
    content: url(../assets/pix.svg);
    display: block;
    width: 2.4rem;
    aspect-ratio: 1 / 1;
    margin-right: .86rem;
}
section.s-links .link-item .ico-nubank::before{
    content: '';
    display: block;
    width: 2.4rem;
    aspect-ratio: 1 / 1;
    margin-right: .86rem;
}
section.s-links .link-item .ico-copy::after{
    content: url(../assets/content-copy.svg);
    display: block;
    width: 2.4rem;
    aspect-ratio: 1 / 1;
    position: relative;
    top:0;
    border-bottom: 0;
    left: 100%;
    right: 0;
    opacity: 40%;
     
}
section.s-links .link-item .ico-web::before{
    content: url(../assets/web.svg);
    display: block;
    width: 2.4rem;
    aspect-ratio: 1 / 1;
    margin-right: .86rem;
}
section.s-links .link-item .facebook{
    background-color: var(--dourado);
}
section.s-links .link-item .instagram{
    background: var(--dourado);
}
section.s-links .link-item .pinterest{
    background-color: var(--dourado);
}
section.s-links .link-item .whatsapp{
    background-color: var(--dourado);
}
section.s-links .link-item .pix{
    background-color: var(--dourado);
}
section.s-links .link-item .nubank{
    background-color: var(--nubank);
    color: #ffffff;
}
section.s-links .link-item .web{
    background-color: var(--dourado);
}
footer{
    display: grid;
    width: min(100% - 10%, 26rem);
}
footer span{
    display: block;
    width: 100%;
    margin: auto;
    font-size: var(--body-text);
    text-align: center;
}

.hidden {
    display: none !important;
  }
  
  #installContainer {
    position: absolute;
    bottom: 1em;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  #installContainer button {
    background-color: inherit;
    border: 1px solid white;
    color: white;
    font-size: 1em;
    padding: 0.75em;
  }